<?xml version="1.0"?>
<launch>
  <group ns="blinky">
    <param name="robot_description" textfile="$(find blinky_description)/urdf/blinky.urdf" />

    <rosparam command="load" file="$(find blinky_bringup)/config/ports.yaml" />

    <include file="$(find blinky_base)/launch/base.launch" />

    <node name="myahrs_driver" pkg="myahrs_driver" type="myahrs_driver" output="screen" />

    <node name="neato_laser_publisher" pkg="xv_11_laser_driver" type="neato_laser_publisher" output="screen">
      <param name="firmware_version" value="2" />
    </node>

    <node name="pololu_smc_driver" pkg="pololu_smc_driver" type="smc_driver_node" output="screen">
      <param name="commandTimeout" value="100" />
      <param name="disableSafeStart" value="true" />
      <param name="lowVinShutoffMv" value="10000" />
    </node>

    <node name="lidar_control" pkg="rostopic" type="rostopic" args="pub joint_trajectory trajectory_msgs/JointTrajectory &quot;{header: auto, joint_names: ['motor'],points: [{velocities: [-2048]}]}&quot; -l -r 20" output="screen"/>
  </group>
</launch>
