<?xml version="1.0"?>
<launch>
  <group ns="blinky">
    <param name="robot_description" textfile="$(find blinky_description)/urdf/blinky.urdf" />

    <rosparam command="load" file="$(find blinky_bringup)/config/ports.yaml" />

    <include file="$(find blinky_base)/launch/base.launch" />

    <node name="myahrs_driver" pkg="myahrs_driver" type="myahrs_driver" output="screen">
      <param name="frame_id" value="imu" />
      <param name="publish_tf" value="false" />
    </node>

    <node name="neato_laser_publisher" pkg="xv_11_laser_driver" type="neato_laser_publisher" output="screen">
      <param name="firmware_version" value="2" />
      <param name="frame_id" value="lidar" />
    </node>

    <node name="pololu_smc_driver" pkg="pololu_smc_driver" type="smc_driver_node" output="screen">
      <param name="commandTimeout" value="100" />
      <param name="disableSafeStart" value="true" />
      <param name="inputQueryRate" value="10.0" />
      <param name="lowVinShutoffMv" value="10000" />
      <param name="analog1/alternateUse" value="1" />
      <param name="analog1/invert" value="false" />
      <param name="analog1/pinMode" value="1" />
      <param name="analog1/scalingDegree" value="0" />
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

    <node name="robot_pose_ekf" pkg="robot_pose_ekf" type="robot_pose_ekf" respawn="true" output="screen">
      <param name="freq" value="50" />
      <param name="imu_used" value="true" />
      <param name="odom_used" value="true" />
      <param name="output_frame" value="odom" />
      <param name="sensor_timeout" value="0.3" />
      <param name="vo_used" value="false" />
      <remap from="imu_data" to="imu/data_fixed" />
    </node>

    <node name="imu_transformer" pkg="imu_transformer" type="imu_transformer_node" respawn="true" output="screen">
      <param name="target_frame" value="base_link" />
      <remap from="imu_in/data" to="imu/data" />
      <remap from="imu_in/mag" to="imu/mag" />
      <remap from="imu_out/data" to="imu/data_fixed" />
      <remap from="imu_out/mag" to="imu/mag_fixed" />
    </node>

    <node name="lidar_control" pkg="rostopic" type="rostopic" args="pub joint_trajectory trajectory_msgs/JointTrajectory &quot;{header: auto, joint_names: ['motor'],points: [{velocities: [-2048]}]}&quot; -l -r 20" output="screen"/>
  </group>
</launch>
